@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
@import './chat_box.css';
@import './info_box.css';

.App {
  text-align: center;
  background-color: #B3E5FC;
  height: 120vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.App-window {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

.App-header {
  background-color: #0288D1;
  color: white;
  font-family: 'Pacifico', cursive;
  margin: 0;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}